h1 {
    @apply text-2xl;
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

h1, h2, h3, h4, h5, h6, label {
    color: var(--accent);
}

a {
    @apply no-underline;
    color: var(--accent)
}

.text-light {
    color: var(--text-light)
}